<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-tw" class="h-100">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-vue/bootstrap-vue.min.css" rel="stylesheet" type="text/css">
    <link href="content/timeline.css" rel="stylesheet" type="text/css">
    <link href="content/index.css?t=20200206" rel="stylesheet" type="text/css">
    <title>Bang Wu</title>
    <script src="js/vue.min.js"></script>
    <script src="bootstrap-vue/bootstrap-vue.min.js"></script>
    <script src="bootstrap-vue/bootstrap-vue-icons.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/c1ab884e01.js" crossorigin="anonymous"></script>

</head>

<body class="h-100">
    <div id="page-top" class="d-flex flex-column h-100">
        <header>
            <b-navbar toggleable="lg" type="dark" variant="dark">
                <b-navbar-brand :href="aboutme.website" title="home">
                    <img :src="aboutme.logo" alt="Logo" class="img-profile rounded-circle" /></b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-navbar-nav>
                            <b-nav-item href="#page-top">Home</b-nav-item>
                            <b-nav-item href="#page-2">Experience</b-nav-item>
                            <b-nav-item href="#">Skills</b-nav-item>
                            <b-nav-item href="#">Contact</b-nav-item>
                        </b-navbar-nav>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </header>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <div id="page-1">
                    <b-jumbotron :header="aboutme.name" :lead="aboutme.shortDesc">
                        <p>
                            <b-link :href="aboutme.website">{{aboutme.website}}</b-link>
                        </p>
                        <div id="nav">
                            <ul>
                                <li v-for="obj in aboutme.links">
                                    <a :href="obj.url" class="text-dark" target="_blank"><i :class="obj.icon"></i></a>
                                </li>
                            </ul>
                        </div>
                        <b-button variant="primary" href="#page-2">More Info</b-button>
                    </b-jumbotron>
                </div>
                <div id="page-2">
                    <h2>Experience</h2>
                    <div class="timeline" style="margin-top: 2rem;">
                        <div :class="(index%2 == 0) ? 'containertime left' : 'containertime right'" v-for="(obj,index) in experience">
                            <div class="content">
                                <h4>{{obj.company}}&nbsp;<i :class="obj.icon"></i></h4>
                                <p>{{obj.title}}&nbsp;<small>{{obj.sdate}} - {{obj.edate}}</small></p>
                                <ul>
                                    <li v-for="w in obj.works">
                                        {{w.name}}&#58;&nbsp;<br>{{w.desc}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="scroll-to-top" href="#page-1" v-show="showScrolltop">
                <b-icon icon="chevron-compact-up" class="rounded-circle bg-primary"></b-icon>
            </a>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">
                    Copyright&nbsp;&copy;&nbsp;2020&nbsp;
                </span>
            </div>
        </footer>
    </div>
    <script lang="JavaScript">
        window.onload = () => {
            new Vue({
                el: '#page-top',
                data() {
                    return {
                        aboutme: {
                            website: "http://punkinpunkin.github.io/"
                        },
                        experience: null,
                        showScrolltop: false
                    }
                },
                mounted() {
                    axios
                        .get('model/aboutme.json')
                        .then(response => (this.aboutme = response.data));

                    axios
                        .get('model/experience.json')
                        .then(response => (this.experience = response.data));
                },
                created() {
                    let _this = this;
                    window.addEventListener('scroll', _this.handleScroll);
                },
                watch: {},
                methods: {
                    handleScroll(e) {
                        this.showScrolltop = (window.scrollY > 600);
                    }
                }
            })
        }
    </script>
</body class="d-flex flex-column h-100">

</html>